.carrito {
  position: absolute;
  text-align: center;
  width: 300px;
  right: -300px;
  transition: right .3s;
}

.carrito.muestrate {
  right: 0;
}

.carrito-header {
  background-color: #000;
  color: white;
  font-weight: bold;
  padding: 1em;
  font-size: 1.2em;
}

.carrito-section, .carrito-total {
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
}

.carrito-section {
  background-color: white;
  box-sizing: border-box;
  height: 300px;
  overflow: scroll;
}

.carrito-total {
  background-color: white;
  padding: 1em;
}

.carrito-footer {
  background-color: rgb(255, 143, 13);
  color: white;
  padding: 1em;
  font-size: 1.2em;
}

.empty {
  display: inline-block;
  margin-top: 30px;
}

.carrito-section article {
  padding: 1em;
  text-align: left;
}

.carrito-section h4 {
  display: inline-block;
  margin: 0;
}

.carrito-section article span,
.carrito-section article i {
  float: right;
}

.carrito-section article i { margin-left: 6px; }

.carrito-section article i:hover { cursor: pointer; }