<!DOCTYPE html>
<html lang="es" ng-app="tienda">
<head>
  <meta description="Tienda virtual que permite abastecer tu negocio" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Riqra</title>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />

  <link rel="stylesheet" href="app.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app2.js"></script>
</head>
<body>
  <header>
    <div>
      <h1>Riqra</h1>
      <div class="caja-texto">
        <input type="text" placeholder="¿Qué producto estas buscando?" ng-model="texto" />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <div>
      <a href="#">Ingresa</a>
      <button>Regístrate</button>
      <div class="mostrar-carrito" id="js-mostrar-carrito">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <div class="contador" id="js-contador">0</div>
      </div>
    </div>
  </header>
  <aside class="carrito" id="js-carrito">
    <div class="carrito-header">
      Mi carrito (0)
    </div>
    <div class="carrito-section">
      <span id="js-empty" class="empty">Aún no tienes productos en tu carrito</span>
    </div>
    <div class="carrito-total">
      S/ 0.00
    </div>
    <div class="carrito-footer">
      Ver carrito
    </div>
  </aside>

  {{productos}}

  <section class="productos" id="js-productos" ng-controller="ProductosController">
    <h3>Productos para tu negocio</h3>

    <article ng-repeat="producto in productos | filter: $parent.texto">
      <figure>
        <img ng-src="images/{{producto.imagen}}" alt="" />
      </figure>
      <h4>{{ producto.titulo }}</h4>
      <p>{{ producto.descripcion }}</p>
      <span class="precio-anterior">{{ producto.precioAnterior }}</span>
      <span class="precio-venta">{{ producto.precioVenta }}</span>
      <button>
        <i class="fa fa-shopping-cart"></i>
        Agregar
      </button>
    </article>
  </section>
  <div class="overlay" id="js-modal">
    <div class="contenedor">
      <section class="mensaje">
        <p>¿Estas seguro de agregar el producto al carrito?</p>
        <button id="js-si">Si</button>
        <button id="js-no">No</button>
      </section>
    </div>
  </div>
</body>
</html>