body {
  font-size: 16px;
  margin: 0;
  overflow: hidden;
}

header {
  background-color: #0082CD;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

header > div {
  display: flex;
}

header button {
  background-color: rgb(255, 143, 13);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0 2em;
}

header button:hover {
  background-color: rgb(255, 166, 64);
  cursor: pointer;
}

header a {
  color: white;
  text-decoration: none;
  line-height: 37px;
}

.contador {
  box-sizing: border-box;
  background-color: #FF0000;
  color: white;
  padding: .3em;
  font-size: .8em;
  width: 23px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -7px;
}

h1 {
  color: white;
  margin: 0;
  margin-right: 1em;
}

.caja-texto {
  position: relative;
  width: 500px;
}

.caja-texto input {
  font-size: 1em;
  box-sizing: border-box;
  padding: 1em;
  height: 35px;
  width: 100%;
}

.caja-texto input:focus {
  outline: none;
}

.caja-texto i {
  font-size: 1.3em;
  position: absolute;
  top: 8px;
  right: 10px;
}

.mostrar-carrito {
  position: relative;
}

.mostrar-carrito:hover {
  cursor: pointer;
}

.mostrar-carrito i {
  color: white;
  font-size: 2em;
}





